.title {
    width: 80%;
    background-color: paleturquoise;
    text-align: center;
    color: black;
}
.boton {
    margin-left: 20%;
    padding: 1em 2em;

}

.formulario {
    margin-left: 20%;
    margin-top: 10%;
}

.boton,button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: run-in;
    font-size: 16px;
  }
td {
    background-color: cornflowerblue;
    color: white;
}
body {
    background-image: url(/img/background.jpg);
}