.title {
    width: 80%;
    background-color: paleturquoise;
    text-align: center;
    color: black;
}

.boton {
    margin-left: 20%;
    padding: 1em 2em;
}

.formulario {
    margin-left: 15%;
    margin-top: 10%;
    padding: 5px;
}

.formulario,
table,
tr,
td {
    padding: 10px;
    border-collapse: collapse;
}

.boton,
button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: run-in;
    font-size: 16px;
}

td {
    background-color: cornflowerblue;
    color: white;
}

body {
    background-image: url(/img/background.jpg);
}

.error {
    color: red;
    text-align: center;
}

.catalogo thead tr td {
    color: black;
    background-color: blanchedalmond;
    font-size: 3em !important;
}

.catalogo tr td {
    vertical-align: top;
    font-size: 2em;
}